SPRING_APPLICATION_NAME=Xthore
SPRING_PROFILES_ACTIVE=dev,api-docs

JHIPSTER_REGISTRY_PASSWORD=78d80fdbac90341c298d1de7a293587a5e2d81cb8ddba47b6fc3166ae605dd8a

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true

SPRING_LIQUIBASE_USER=xthore
SPRING_LIQUIBASE_PASSWORD=78d80fdbac90341c298d1de7a293587a5e2d81cb8ddba47b6fc3166ae605dd8a

LOG4J_ROOT_LOGGER=INFO, stdout, file
LOG4J_APPENDER_STDOUT=org.apache.log4j.ConsoleAppender
LOG4J_APPENDER_STDOUT_TARGET=System.out
LOG4J_APPENDER_STDOUT_LAYOUT=org.apache.log4j.PatternLayout
LOG4J_APPENDER_STDOUT_CONVERSION_PATTERN=%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n
LOG4J_APPENDER_FILE=org.apache.log4j.RollingFileAppender
LOG4J_APPENDER_FILE_FILE=logs/yamaghen_application.log
LOG4J_APPENDER_FILE_MAX_FILE_SIZE=10MB
LOG4J_APPENDER_FILE_MAX_BACKUP_INDEX=5
LOG4J_APPENDER_FILE_LAYOUT=org.apache.log4j.PatternLayout
LOG4J_APPENDER_FILE_CONVERSION_PATTERN=%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n
LOG4J_LOGGER=com.project.uber.Uber=DEBUG, stdout, file
LOG4J_ADD_SPORT=com.project.uber.Uber=false

XTHORE_JWT_BASE64_SECRET=YTU0bXZsclF5S2RlM1c4TFFub3k5K2xvZWp0dFJ2VkFleU1zeWlJb2wwUkloeFdoWngycFNzNXhXWGVxemZsV04vV0lza3V6L0JML0thOTNyZVJGU2c9PQ==

XTHORE_DATASOURCE_ORDER_URL=r2dbc:postgresql://postgres:5432/xt_order_db
XTHORE_DATASOURCE_ORDER_LIQUIBASE_URL=jdbc:postgresql://postgres:5432/xt_order_db

XTHORE_DATASOURCE_CATALOG_URL=r2dbc:postgresql://postgres:5432/xt_catalog_db
XTHORE_DATASOURCE_CATALOG_LIQUIBASE_URL=jdbc:postgresql://postgres:5432/xt_catalog_db
